*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}
body{
    background-image: 
        linear-gradient(rgba(159, 218, 255, 0.682), rgba(159, 218, 231, 0.682)), 
        url("./pexels.avif");
    background-size: cover;
    overflow: hidden;
    background-blend-mode: multiply;   
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}
.user__button{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.main__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1%;
    margin: 2%;
}
.logo__name{
    font-size: 100px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 117px;
}
.main__search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
}
.search__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 655px;
    height: 70px;
    background-color: white;
    filter:drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.749), 0, 0);
    border-radius: 40px;
}
.wrap__input{
    background-color: transparent;
    border: none;
    outline: none;
}
.wrap__input, .wrap__img{
    padding: 5%;
}
.main__nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__link{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5%;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2%;
}
.footer__question{
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.user__button:hover{
    cursor: pointer;
    transform: scale(1.1);
}